
@{
    ViewBag.Title = "CheckOut";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="login">
    <div class="wrap">
        <h4 class="title">Giỏ hàng trống</h4>
        <p class="cart">Bạn chưa có sản phẩm nào trong giỏ<br>Ấn<a href="index.html"> vào đây</a> để tiếp tục mua hàng</p>
    </div>
</div>

