
@{
    ViewBag.Title = "Shop";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <div class="login">
        <div class="wrap">
            <div class="rsidebar span_1_of_left">
                <section class="sky-form">
                    <h4>Máy Tính</h4>
                    <div class="row row1 scroll-pane">
                        <div class="col col-4">
                            <div><a href="google.com" style="color:black">Máy Tính Văn Phòng</a></div>
                            <div><a>Máy Tính Chơi Game</a></div>
                            <div><a>Máy Chủ</a></div>
                        </div>

                    </div>

                </section>

                <section class="sky-form">
                    <h4>Linh Kiện</h4>
                    <div class="row row1 scroll-pane">
                        <div class="col col-4">
                            <div><a>CPU</a></div>
                            <div><a>RAM</a></div>
                            <div><a>Ổ cứng HDD</a></div>
                            <div><a>Ổ cứng SSD</a></div>
                            <div><a>Mainboard</a></div>
                            <div><a>Nguồn Máy Tính</a></div>
                            <div><a>Vỏ Case</a></div>
                        </div>

                    </div>

                </section>

            </div>


            <div class="cont span_2_of_3">
                <div class="mens-toolbar">
                    <div class="sort">
                        <div class="sort-by">
                            <label>Xếp theo</label>
                            <select>
                                <option value="">
                                    Phổ biến
                                </option>
                                <option value="">
                                    Giá :  Từ cao đến thấp
                                </option>
                                <option value="">
                                    Giá :  Từ thấp đến cao
                                </option>
                            </select>
                            <a href=""><img src="~/Content/images/arrow2.gif" alt="" class="v-middle"></a>
                        </div>
                    </div>
                    <div class="pager">
                        <div class="limiter visible-desktop">
                            <label>Hiển thị</label>
                            <select>
                                <option value="" selected="selected">
                                    9
                                </option>
                                <option value="">
                                    15
                                </option>
                                <option value="">
                                    30
                                </option>
                            </select>
                        </div>
                        <ul class="dc_pagination dc_paginationA dc_paginationA06">
                            <li><a href="#" class="previous">Trang</a></li>
                            <li><a href="#">1</a></li>
                            <li><a href="#">2</a></li>
                        </ul>
                        <div class="clear"></div>
                    </div>
                    <div class="clear"></div>
                </div>
                <div class="box1">
                    <div class="col_1_of_single1 span_1_of_single1">
                        <a href="single.html">
                            <div class="view1 view-fifth1">
                                <div class="top_box">
                                    <h3 class="m_1">Laptop LG Gram 17Z990-V.AH75A5 </h3>
                                    <p class="m_2">i7-8565U/8GB DDR4/512GB SSD/17.0 inch QHD IPS/Win 10</p>
                                    <div class="grid_img">
                                        <div class="css3"><img src="~/Content/images/laptop/laptop1.jpg" alt="" /></div>
                                        <div class="mask1">
                                            <div class="info">Xem chi tiết</div>
                                        </div>
                                    </div>
                                    <div class="price">15.790.000</div>
                                </div>
                            </div>
                            <span class="rating1">
                                <input type="radio" class="rating-input" id="rating-input-1-5" name="rating-input-1">
                                <label for="rating-input-1-5" class="rating-star1"></label>
                                <input type="radio" class="rating-input" id="rating-input-1-4" name="rating-input-1">
                                <label for="rating-input-1-4" class="rating-star1"></label>
                                <input type="radio" class="rating-input" id="rating-input-1-3" name="rating-input-1">
                                <label for="rating-input-1-3" class="rating-star1"></label>
                                <input type="radio" class="rating-input" id="rating-input-1-2" name="rating-input-1">
                                <label for="rating-input-1-2" class="rating-star"></label>
                                <input type="radio" class="rating-input" id="rating-input-1-1" name="rating-input-1">
                                <label for="rating-input-1-1" class="rating-star"></label>&nbsp;
                                (45)
                            </span>
                            <ul class="list2">
                                <li>
                                    <img src="~/Content/images/plus.png" alt="" />
                                    <ul class="icon1 sub-icon1 profile_img">
                                        <li>
                                            <a class="active-icon c1" href="#">Thêm vào giỏ </a>

                                        </li>
                                    </ul>
                                </li>
                            </ul>
                            <div class="clear"></div>
                        </a>
                    </div>
                    <div class="col_1_of_single1 span_1_of_single1">
                        <a href="single.html">
                            <div class="view1 view-fifth1">
                                <div class="top_box">
                                    <h3 class="m_1">Laptop LG Gram 15Z980-G.AH55A5</h3>
                                    <p class="m_2">i5 8250U/8GB RAM/512GB SSD/15.6 inch FHD/Win 10</p>
                                    <div class="grid_img">
                                        <div class="css3"><img src="~/Content/images/laptop/laptop2.jpg" alt="" /></div>
                                        <div class="mask1">
                                            <div class="info">Xem chi tiết</div>
                                        </div>
                                    </div>
                                    <div class="price">15.790.000</div>
                                </div>
                            </div>
                            <span class="rating1">
                                <input type="radio" class="rating-input" id="rating-input-1-5" name="rating-input-1">
                                <label for="rating-input-1-5" class="rating-star1"></label>
                                <input type="radio" class="rating-input" id="rating-input-1-4" name="rating-input-1">
                                <label for="rating-input-1-4" class="rating-star1"></label>
                                <input type="radio" class="rating-input" id="rating-input-1-3" name="rating-input-1">
                                <label for="rating-input-1-3" class="rating-star1"></label>
                                <input type="radio" class="rating-input" id="rating-input-1-2" name="rating-input-1">
                                <label for="rating-input-1-2" class="rating-star"></label>
                                <input type="radio" class="rating-input" id="rating-input-1-1" name="rating-input-1">
                                <label for="rating-input-1-1" class="rating-star"></label>&nbsp;
                                (45)
                            </span>
                            <ul class="list2">
                                <li>
                                    <img src="~/Content/images/plus.png" alt="" />
                                    <ul class="icon1 sub-icon1 profile_img">
                                        <li>
                                            <a class="active-icon c1" href="#">Thêm vào giỏ </a>

                                        </li>
                                    </ul>
                                </li>
                            </ul>
                            <div class="clear"></div>
                        </a>
                    </div>
                    <div class="col_1_of_single1 span_1_of_single1">
                        <a href="single.html">
                            <div class="view1 view-fifth1">
                                <div class="top_box">
                                    <h3 class="m_1">Laptop Acer Gaming Nitro 5 </h3>
                                    <p class="m_2">Ryzen 7 3750H/8GB RAM/256GB/17.3 inch FHD/Win10</p>
                                    <div class="grid_img">
                                        <div class="css3"><img src="~/Content/images/laptop/laptop4.png" alt="" /></div>
                                        <div class="mask1">
                                            <div class="info">Xem chi tiết</div>
                                        </div>
                                    </div>
                                    <div class="price">15.790.000</div>
                                </div>
                            </div>
                            <span class="rating1">
                                <input type="radio" class="rating-input" id="rating-input-1-5" name="rating-input-1">
                                <label for="rating-input-1-5" class="rating-star1"></label>
                                <input type="radio" class="rating-input" id="rating-input-1-4" name="rating-input-1">
                                <label for="rating-input-1-4" class="rating-star1"></label>
                                <input type="radio" class="rating-input" id="rating-input-1-3" name="rating-input-1">
                                <label for="rating-input-1-3" class="rating-star1"></label>
                                <input type="radio" class="rating-input" id="rating-input-1-2" name="rating-input-1">
                                <label for="rating-input-1-2" class="rating-star"></label>
                                <input type="radio" class="rating-input" id="rating-input-1-1" name="rating-input-1">
                                <label for="rating-input-1-1" class="rating-star"></label>&nbsp;
                                (45)
                            </span>
                            <ul class="list2">
                                <li>
                                    <img src="~/Content/images/plus.png" alt="" />
                                    <ul class="icon1 sub-icon1 profile_img">
                                        <li>
                                            <a class="active-icon c1" href="#">Thêm vào giỏ </a>

                                        </li>
                                    </ul>
                                </li>
                            </ul>
                            <div class="clear"></div>
                        </a>
                    </div>
                    <div class="clear"></div>
                </div>
                <div class="box1">
                    <div class="col_1_of_single1 span_1_of_single1">
                        <a href="single.html">
                            <div class="view1 view-fifth1">
                                <div class="top_box">
                                    <h3 class="m_1">Laptop Lenovo IdeaPad S340-15IWL</h3>
                                    <p class="m_2">i3 8145U/4GB RAM/256GB/15.6inch FHD/Win10</p>
                                    <div class="grid_img">
                                        <div class="css3"><img src="~/Content/images/laptop/laptop6.jpg" alt="" /></div>
                                        <div class="mask1">
                                            <div class="info">Xem chi tiết</div>
                                        </div>
                                    </div>
                                    <div class="price">15.790.000</div>
                                </div>
                            </div>
                            <span class="rating1">
                                <input type="radio" class="rating-input" id="rating-input-1-5" name="rating-input-1">
                                <label for="rating-input-1-5" class="rating-star1"></label>
                                <input type="radio" class="rating-input" id="rating-input-1-4" name="rating-input-1">
                                <label for="rating-input-1-4" class="rating-star1"></label>
                                <input type="radio" class="rating-input" id="rating-input-1-3" name="rating-input-1">
                                <label for="rating-input-1-3" class="rating-star1"></label>
                                <input type="radio" class="rating-input" id="rating-input-1-2" name="rating-input-1">
                                <label for="rating-input-1-2" class="rating-star"></label>
                                <input type="radio" class="rating-input" id="rating-input-1-1" name="rating-input-1">
                                <label for="rating-input-1-1" class="rating-star"></label>&nbsp;
                                (45)
                            </span>
                            <ul class="list2">
                                <li>
                                    <img src="~/Content/images/plus.png" alt="" />
                                    <ul class="icon1 sub-icon1 profile_img">
                                        <li>
                                            <a class="active-icon c1" href="#">Thêm vào giỏ </a>

                                        </li>
                                    </ul>
                                </li>
                            </ul>
                            <div class="clear"></div>
                        </a>
                    </div>
                    <div class="col_1_of_single1 span_1_of_single1">
                        <a href="single.html">
                            <div class="view1 view-fifth1">
                                <div class="top_box">
                                    <h3 class="m_1">Laptop HP 15s-du0114TU</h3>
                                    <p class="m_2">i3 7020U/4GB RAM/256GB SSD/15.6 inch HD/Win8</p>
                                    <div class="grid_img">
                                        <div class="css3"><img src="~/Content/images/laptop/laptop5.jpg" alt="" /></div>
                                        <div class="mask1">
                                            <div class="info">Xem chi tiết</div>
                                        </div>
                                    </div>
                                    <div class="price">15.790.000</div>
                                </div>
                            </div>
                            <span class="rating1">
                                <input type="radio" class="rating-input" id="rating-input-1-5" name="rating-input-1">
                                <label for="rating-input-1-5" class="rating-star1"></label>
                                <input type="radio" class="rating-input" id="rating-input-1-4" name="rating-input-1">
                                <label for="rating-input-1-4" class="rating-star1"></label>
                                <input type="radio" class="rating-input" id="rating-input-1-3" name="rating-input-1">
                                <label for="rating-input-1-3" class="rating-star1"></label>
                                <input type="radio" class="rating-input" id="rating-input-1-2" name="rating-input-1">
                                <label for="rating-input-1-2" class="rating-star"></label>
                                <input type="radio" class="rating-input" id="rating-input-1-1" name="rating-input-1">
                                <label for="rating-input-1-1" class="rating-star"></label>&nbsp;
                                (45)
                            </span>
                            <ul class="list2">
                                <li>
                                    <img src="~/Content/images/plus.png" alt="" />
                                    <ul class="icon1 sub-icon1 profile_img">
                                        <li>
                                            <a class="active-icon c1" href="#">Thêm vào giỏ </a>

                                        </li>
                                    </ul>
                                </li>
                            </ul>
                            <div class="clear"></div>
                        </a>
                    </div>
                    <div class="col_1_of_single1 span_1_of_single1">
                        <a href="single.html">
                            <div class="view1 view-fifth1">
                                <div class="top_box">
                                    <h3 class="m_1">Laptop Lenovo IdeaPad S340-15IWL</h3>
                                    <p class="m_2">i3 8145U/4GB RAM/256GB/15.6inch FHD/Win10</p>
                                    <div class="grid_img">
                                        <div class="css3"><img src="~/Content/images/laptop/laptop6.jpg" alt="" /></div>
                                        <div class="mask1">
                                            <div class="info">Xem chi tiết</div>
                                        </div>
                                    </div>
                                    <div class="price">15.790.000</div>
                                </div>
                            </div>
                            <span class="rating1">
                                <input type="radio" class="rating-input" id="rating-input-1-5" name="rating-input-1">
                                <label for="rating-input-1-5" class="rating-star1"></label>
                                <input type="radio" class="rating-input" id="rating-input-1-4" name="rating-input-1">
                                <label for="rating-input-1-4" class="rating-star1"></label>
                                <input type="radio" class="rating-input" id="rating-input-1-3" name="rating-input-1">
                                <label for="rating-input-1-3" class="rating-star1"></label>
                                <input type="radio" class="rating-input" id="rating-input-1-2" name="rating-input-1">
                                <label for="rating-input-1-2" class="rating-star"></label>
                                <input type="radio" class="rating-input" id="rating-input-1-1" name="rating-input-1">
                                <label for="rating-input-1-1" class="rating-star"></label>&nbsp;
                                (45)
                            </span>
                            <ul class="list2">
                                <li>
                                    <img src="~/Content/images/plus.png" alt="" />
                                    <ul class="icon1 sub-icon1 profile_img">
                                        <li>
                                            <a class="active-icon c1" href="#">Thêm vào giỏ </a>

                                        </li>
                                    </ul>
                                </li>
                            </ul>
                            <div class="clear"></div>
                        </a>
                    </div>
                    <div class="clear"></div>
                </div>
                <div class="box1">
                    <div class="col_1_of_single1 span_1_of_single1">
                        <a href="single.html">
                            <div class="view1 view-fifth1">
                                <div class="top_box">
                                    <h3 class="m_1">Laptop LG Gram 17Z990-V.AH75A5 </h3>
                                    <p class="m_2">i5-8565U/4GB DDR4/512GB SSD/17.0 inch QHD IPS/Win 10</p>
                                    <div class="grid_img">
                                        <div class="css3"><img src="~/Content/images/laptop/laptop1.jpg" alt="" /></div>
                                        <div class="mask1">
                                            <div class="info">Xem chi tiết</div>
                                        </div>
                                    </div>
                                    <div class="price">15.790.000</div>
                                </div>
                            </div>
                            <span class="rating1">
                                <input type="radio" class="rating-input" id="rating-input-1-5" name="rating-input-1">
                                <label for="rating-input-1-5" class="rating-star1"></label>
                                <input type="radio" class="rating-input" id="rating-input-1-4" name="rating-input-1">
                                <label for="rating-input-1-4" class="rating-star1"></label>
                                <input type="radio" class="rating-input" id="rating-input-1-3" name="rating-input-1">
                                <label for="rating-input-1-3" class="rating-star1"></label>
                                <input type="radio" class="rating-input" id="rating-input-1-2" name="rating-input-1">
                                <label for="rating-input-1-2" class="rating-star"></label>
                                <input type="radio" class="rating-input" id="rating-input-1-1" name="rating-input-1">
                                <label for="rating-input-1-1" class="rating-star"></label>&nbsp;
                                (45)
                            </span>
                            <ul class="list2">
                                <li>
                                    <img src="~/Content/images/plus.png" alt="" />
                                    <ul class="icon1 sub-icon1 profile_img">
                                        <li>
                                            <a class="active-icon c1" href="#">Thêm vào giỏ </a>

                                        </li>
                                    </ul>
                                </li>
                            </ul>
                            <div class="clear"></div>
                        </a>
                    </div>
                    <div class="col_1_of_single1 span_1_of_single1">
                        <a href="single.html">
                            <div class="view1 view-fifth1">
                                <div class="top_box">
                                    <h3 class="m_1">Laptop LG Gram 15Z980-G.AH55A5</h3>
                                    <p class="m_2">i5 8250U/4GB RAM/512GB SSD/15.6 inch FHD/Win 10</p>
                                    <div class="grid_img">
                                        <div class="css3"><img src="~/Content/images/laptop/laptop2.jpg" alt="" /></div>
                                        <div class="mask1">
                                            <div class="info">Xem chi tiết</div>
                                        </div>
                                    </div>
                                    <div class="price">15.790.000</div>
                                </div>
                            </div>
                            <span class="rating1">
                                <input type="radio" class="rating-input" id="rating-input-1-5" name="rating-input-1">
                                <label for="rating-input-1-5" class="rating-star1"></label>
                                <input type="radio" class="rating-input" id="rating-input-1-4" name="rating-input-1">
                                <label for="rating-input-1-4" class="rating-star1"></label>
                                <input type="radio" class="rating-input" id="rating-input-1-3" name="rating-input-1">
                                <label for="rating-input-1-3" class="rating-star1"></label>
                                <input type="radio" class="rating-input" id="rating-input-1-2" name="rating-input-1">
                                <label for="rating-input-1-2" class="rating-star"></label>
                                <input type="radio" class="rating-input" id="rating-input-1-1" name="rating-input-1">
                                <label for="rating-input-1-1" class="rating-star"></label>&nbsp;
                                (45)
                            </span>
                            <ul class="list2">
                                <li>
                                    <img src="~/Content/images/plus.png" alt="" />
                                    <ul class="icon1 sub-icon1 profile_img">
                                        <li>
                                            <a class="active-icon c1" href="#">Thêm vào giỏ </a>

                                        </li>
                                    </ul>
                                </li>
                            </ul>
                            <div class="clear"></div>
                        </a>
                    </div>
                    <div class="col_1_of_single1 span_1_of_single1">
                        <a href="single.html">
                            <div class="view1 view-fifth1">
                                <div class="top_box">
                                    <h3 class="m_1">Laptop Asus D409DA-EK152T </h3>
                                    <p class="m_2">R5 3500U/8GB RAM/256GB SSD/14 inch FHD/Win 10/Bạc</p>
                                    <div class="grid_img">
                                        <div class="css3"><img src="~/Content/images/laptop/laptop3.jpg" alt="" /></div>
                                        <div class="mask1">
                                            <div class="info">Xem chi tiết</div>
                                        </div>
                                    </div>
                                    <div class="price">15.790.000</div>
                                </div>
                            </div>
                            <span class="rating1">
                                <input type="radio" class="rating-input" id="rating-input-1-5" name="rating-input-1">
                                <label for="rating-input-1-5" class="rating-star1"></label>
                                <input type="radio" class="rating-input" id="rating-input-1-4" name="rating-input-1">
                                <label for="rating-input-1-4" class="rating-star1"></label>
                                <input type="radio" class="rating-input" id="rating-input-1-3" name="rating-input-1">
                                <label for="rating-input-1-3" class="rating-star1"></label>
                                <input type="radio" class="rating-input" id="rating-input-1-2" name="rating-input-1">
                                <label for="rating-input-1-2" class="rating-star"></label>
                                <input type="radio" class="rating-input" id="rating-input-1-1" name="rating-input-1">
                                <label for="rating-input-1-1" class="rating-star"></label>&nbsp;
                                (45)
                            </span>
                            <ul class="list2">
                                <li>
                                    <img src="~/Content/images/plus.png" alt="" />
                                    <ul class="icon1 sub-icon1 profile_img">
                                        <li>
                                            <a class="active-icon c1" href="#">Thêm vào giỏ </a>

                                        </li>
                                    </ul>
                                </li>
                            </ul>
                            <div class="clear"></div>
                        </a>
                    </div>
                    <div class="clear"></div>
                </div>
                <div class="box1">
                    <div class="col_1_of_single1 span_1_of_single1">
                        <a href="single.html">
                            <div class="view1 view-fifth1">
                                <div class="top_box">
                                    <h3 class="m_1">Laptop HP 15s-du0114TU</h3>
                                    <p class="m_2">i3 7020U/8GB RAM/256GB SSD/15.6 inch HD/Win8</p>
                                    <div class="grid_img">
                                        <div class="css3"><img src="~/Content/images/laptop/laptop5.jpg" alt="" /></div>
                                        <div class="mask1">
                                            <div class="info">Xem chi tiết</div>
                                        </div>
                                    </div>
                                    <div class="price">15.790.000</div>
                                </div>
                            </div>
                            <span class="rating1">
                                <input type="radio" class="rating-input" id="rating-input-1-5" name="rating-input-1">
                                <label for="rating-input-1-5" class="rating-star1"></label>
                                <input type="radio" class="rating-input" id="rating-input-1-4" name="rating-input-1">
                                <label for="rating-input-1-4" class="rating-star1"></label>
                                <input type="radio" class="rating-input" id="rating-input-1-3" name="rating-input-1">
                                <label for="rating-input-1-3" class="rating-star1"></label>
                                <input type="radio" class="rating-input" id="rating-input-1-2" name="rating-input-1">
                                <label for="rating-input-1-2" class="rating-star"></label>
                                <input type="radio" class="rating-input" id="rating-input-1-1" name="rating-input-1">
                                <label for="rating-input-1-1" class="rating-star"></label>&nbsp;
                                (45)
                            </span>
                            <ul class="list2">
                                <li>
                                    <img src="~/Content/images/plus.png" alt="" />
                                    <ul class="icon1 sub-icon1 profile_img">
                                        <li>
                                            <a class="active-icon c1" href="#">Thêm vào giỏ </a>

                                        </li>
                                    </ul>
                                </li>
                            </ul>
                            <div class="clear"></div>
                        </a>
                    </div>
                    <div class="col_1_of_single1 span_1_of_single1">
                        <a href="single.html">
                            <div class="view1 view-fifth1">
                                <div class="top_box">
                                    <h3 class="m_1">DELL Alienware 17 R3</h3>
                                    <p class="m_2">i7 6700HQ/16GB/1TB HDD/17.3 inch FHD/Win10</p>
                                    <div class="grid_img">
                                        <div class="css3"><img src="~/Content/images/laptop/laptop8.jpg" alt="" /></div>
                                        <div class="mask1">
                                            <div class="info">Xem chi tiết</div>
                                        </div>
                                    </div>
                                    <div class="price">15.790.000</div>
                                </div>
                            </div>
                            <span class="rating1">
                                <input type="radio" class="rating-input" id="rating-input-1-5" name="rating-input-1">
                                <label for="rating-input-1-5" class="rating-star1"></label>
                                <input type="radio" class="rating-input" id="rating-input-1-4" name="rating-input-1">
                                <label for="rating-input-1-4" class="rating-star1"></label>
                                <input type="radio" class="rating-input" id="rating-input-1-3" name="rating-input-1">
                                <label for="rating-input-1-3" class="rating-star1"></label>
                                <input type="radio" class="rating-input" id="rating-input-1-2" name="rating-input-1">
                                <label for="rating-input-1-2" class="rating-star"></label>
                                <input type="radio" class="rating-input" id="rating-input-1-1" name="rating-input-1">
                                <label for="rating-input-1-1" class="rating-star"></label>&nbsp;
                                (45)
                            </span>
                            <ul class="list2">
                                <li>
                                    <img src="~/Content/images/plus.png" alt="" />
                                    <ul class="icon1 sub-icon1 profile_img">
                                        <li>
                                            <a class="active-icon c1" href="#">Thêm vào giỏ </a>

                                        </li>
                                    </ul>
                                </li>
                            </ul>
                            <div class="clear"></div>
                        </a>
                    </div>
                    <div class="col_1_of_single1 span_1_of_single1">
                        <a href="single.html">
                            <div class="view1 view-fifth1">
                                <div class="top_box">
                                    <h3 class="m_1">ASUS VivoBook Pro 15</h3>
                                    <p class="m_2">i5 8250U/4GB RAM/1TB HDD/15.6 inch/Win10</p>
                                    <div class="grid_img">
                                        <div class="css3"><img src="~/Content/images/laptop/laptop7.jpg" alt="" /></div>
                                        <div class="mask1">
                                            <div class="info">Xem chi tiết</div>
                                        </div>
                                    </div>
                                    <div class="price">15.790.000</div>
                                </div>
                            </div>
                            <span class="rating1">
                                <input type="radio" class="rating-input" id="rating-input-1-5" name="rating-input-1">
                                <label for="rating-input-1-5" class="rating-star1"></label>
                                <input type="radio" class="rating-input" id="rating-input-1-4" name="rating-input-1">
                                <label for="rating-input-1-4" class="rating-star1"></label>
                                <input type="radio" class="rating-input" id="rating-input-1-3" name="rating-input-1">
                                <label for="rating-input-1-3" class="rating-star1"></label>
                                <input type="radio" class="rating-input" id="rating-input-1-2" name="rating-input-1">
                                <label for="rating-input-1-2" class="rating-star"></label>
                                <input type="radio" class="rating-input" id="rating-input-1-1" name="rating-input-1">
                                <label for="rating-input-1-1" class="rating-star"></label>&nbsp;
                                (45)
                            </span>
                            <ul class="list2">
                                <li>
                                    <img src="~/Content/images/plus.png" alt="" />
                                    <ul class="icon1 sub-icon1 profile_img">
                                        <li>
                                            <a class="active-icon c1" href="#">Thêm vào giỏ </a>

                                        </li>
                                    </ul>
                                </li>
                            </ul>
                            <div class="clear"></div>
                        </a>
                    </div>
                    <div class="clear"></div>
                </div>
            </div>

            <div class="clear"></div>
        </div>
    </div>

