
@{
    ViewBag.Title = "Single";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="single">
    <div class="wrap">

        <div class="rsidebar span_1_of_left">
            <section class="sky-form">
                <h4>Máy Tính</h4>
                <div class="row row1 scroll-pane">
                    <div class="col col-4">
                        <div><a href="google.com" style="color:black">Máy Tính Văn Phòng</a></div>
                        <div><a>Máy Tính Chơi Game</a></div>
                        <div><a>Máy Chủ</a></div>
                    </div>

                </div>

            </section>

            <section class="sky-form">
                <h4>Linh Kiện</h4>
                <div class="row row1 scroll-pane">
                    <div class="col col-4">
                        <div><a>CPU</a></div>
                        <div><a>RAM</a></div>
                        <div><a>Ổ cứng HDD</a></div>
                        <div><a>Ổ cứng SSD</a></div>
                        <div><a>Mainboard</a></div>
                        <div><a>Nguồn Máy Tính</a></div>
                        <div><a>Vỏ Case</a></div>
                    </div>

                </div>

            </section>

        </div>

        <div class="cont span_2_of_3">

            <div class="labout span_1_of_a1">
                <!-- start product_slider -->
                <ul id="etalage">
                    <li>

                        <img class="etalage_thumb_image" src="~/Content/images/laptop/t1_vivo.jpg" />
                        <img class="etalage_source_image" src="~/Content/images/laptop/t1_vivo.jpg" />

                    </li>
                    <li>
                        <img class="etalage_thumb_image" src="~/Content/images/laptop/t2_vivo.jpg" />
                        <img class="etalage_source_image" src="~/Content/images/laptop/t2_vivo.jpg" />
                    </li>
                    <li>
                        <img class="etalage_thumb_image" src="~/Content/images/laptop/t3_vivo.jpg" />
                        <img class="etalage_source_image" src="~/Content/images/laptop/t3_vivo.jpg" />
                    </li>
                    <li>
                        <img class="etalage_thumb_image" src="~/Content/images/laptop/t4_vivo.png" />
                        <img class="etalage_source_image" src="~/Content/images/laptop/t4_vivio.jpg" />
                    </li>
                    <li>
                        <img class="etalage_thumb_image" src="~/Content/images/laptop/t1_vivo.jpg" />
                        <img class="etalage_source_image" src="~/Content/images/laptop/t1_vivo.jpg" />
                    </li>
                    <li>
                        <img class="etalage_thumb_image" src="~/Content/images/laptop/t2_vivo.jpg" />
                        <img class="etalage_source_image" src="~/Content/images/laptop/t2_vivo.jpg" />
                    </li>

                </ul>


                <!-- end product_slider -->
            </div>

            <div class="cont1 span_2_of_a1">
                <h3 class="m_3">ASUS VivoBook S15</h3>

                <div class="price_single">
                    <span class="reducedfrom">17.790.000</span>
                    <span class="actual">15.790.000</span><a href="#">Click để đặt hàng</a>
                </div>

                <div class="btn_form">
                    <form>
                        <input type="submit" value="Mua ngay" title="">
                    </form>
                </div>
                <ul class="add-to-links">
                    <li><img src="~/Content/images/wish.png" alt="" /><a href="#">Thêm vào danh sách yêu thích</a></li>
                </ul>
                <p class="m_desc">Tặng balo,chuột và lót chuột bo viền</p>
                <p class="m_desc">Khuyến mãi 100k cho học sinh,sinh viên</p>
                <p class="m_desc">Giảm 100k khi thanh toán bằng tài khoản ngân hàng</p>

                <div class="social_single">
                    <ul>
                        <li class="fb"><a href="#"><span> </span></a></li>
                        <li class="tw"><a href="#"><span> </span></a></li>
                        <li class="g_plus"><a href="#"><span> </span></a></li>
                        <li class="rss"><a href="#"><span> </span></a></li>
                    </ul>
                </div>
            </div>
            <div class="clear"></div>


            <ul id="flexiselDemo3">
                <li><img src="~/Content/images/laptop/laptop1.jpg" /><div class="grid-flex"><a href="#">LG</a><p>17.900</p></div></li>
                <li><img src="~/Content/images/laptop/laptop6.jpg" /><div class="grid-flex"><a href="#">Lenovo</a><p>15.900</p></div></li>
                <li><img src="~/Content/images/laptop/laptop3.jpg" /><div class="grid-flex"><a href="#">Asus</a><p>17.790</p></div></li>
                <li><img src="~/Content/images/laptop/laptop4.png" /><div class="grid-flex"><a href="#">Acer</a><p>17.790</p></div></li>
                <li><img src="~/Content/images/laptop/laptop5.jpg" /><div class="grid-flex"><a href="#">HP</a><p>16.690</p></div></li>
            </ul>
            <script type="text/javascript">
                $(window).load(function () {
                    $("#flexiselDemo1").flexisel();
                    $("#flexiselDemo2").flexisel({
                        enableResponsiveBreakpoints: true,
                        responsiveBreakpoints: {
                            portrait: {
                                changePoint: 480,
                                visibleItems: 1
                            },
                            landscape: {
                                changePoint: 640,
                                visibleItems: 2
                            },
                            tablet: {
                                changePoint: 768,
                                visibleItems: 3
                            }
                        }
                    });

                    $("#flexiselDemo3").flexisel({
                        visibleItems: 5,
                        animationSpeed: 1000,
                        autoPlay: true,
                        autoPlaySpeed: 3000,
                        pauseOnHover: true,
                        enableResponsiveBreakpoints: true,
                        responsiveBreakpoints: {
                            portrait: {
                                changePoint: 480,
                                visibleItems: 1
                            },
                            landscape: {
                                changePoint: 640,
                                visibleItems: 2
                            },
                            tablet: {
                                changePoint: 768,
                                visibleItems: 3
                            }
                        }
                    });

                });
            </script>
            <script type="text/javascript" src="~/Content/js/jquery.flexisel.js"></script>
            <div class="toogle">
                <h3 class="m_3">Cấu hình chi tiết</h3>
                <p class="m_text">CPU        : Intel Core i5 8265U </p>
                <p class="m_text">Tốc độ CPU : 1.60Hz - 3.90Hz </p>
                <p class="m_text">Bộ nhớ đệm : 6MB SmartCache </p>
                <p class="m_text">RAM        : 8GB </p>
                <p class="m_text">Bus RAM    : 2400MHz </p>
                <p class="m_text">Khe RAM    : 2 </p>
                <p class="m_text">Card đồ họa: NVIDIA GeForce MX250;Intel UHD Graphic 620 </p>
                <p class="m_text">VCard      : 2GB </p>
                <p class="m_text">Màn hình   : FHD 15.6 inchs </p>
                <p class="m_text">HDD        : 1TB </p>
                <p class="m_text">HĐH        : Window10 </p>
                <p class="m_text">Trọng lượng: 1.6 kg </p>
            </div>
            <div class="toogle">
                <h3 class="m_3">Đánh giá sản phẩm</h3>
                <p class="m_text">Sức mạnh đáng nể trong thân máy gọn ghẽ</p>
                <p class="m_text">Kiểu dáng trẻ trung thanh lịch và năng động</p>
                <p class="m_text">Đem lại trải nghiệm âm thanh chuyên nghiệp</p>
                <p class="m_text">Tạm biệt mật khẩu rườm rà</p>
                <p class="m_text">Mở ra khả năng tương tác linh hoạt</p>
                <p class="m_text">Tinh tế đến từng góc máy</p>


            </div>
        </div>

        <div class="clear"></div>
    </div>
</div>

